<h2>Table: {{table.label}}</h2>

<div class="data-table" infinite-scroll="loadMore()" infinite-scroll-distance="1">
    <table class="table table-bordered table-striped table-hover table-rounded">
    <thead>
        <tr>
            <th ng-repeat="col in table.columns" data-type="{{col.type}}">
                {{col.label}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in tabledata.results">
            <td ng-repeat="col in table.columns" class="cell-{{col.type}}" ng-class="{'numeric': col.numeric}">{{row[col.name]}}</td>
        </tr>
    </tbody>
    </table>
</div>
